@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #8B51F5, #3B1D8F);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #5125AD;
  margin-bottom: 10px;
  font-weight: 700;
}

h2 {
  text-align: center;
  color: #3B1D8F;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  color: #3B1D8F;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #8B51F5;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #5125AD;
}

.input-group select {
  width: 100%;
  padding: 10px;
  border: 2px solid #8B51F5;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
  background-color: #fff;
}

.input-group select:focus {
  border-color: #5125AD;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #3B1D8F;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #8B51F5;
}

.login-text {
  text-align: center;
  margin-top: 20px;
}

.login-text a {
  color: #5125AD;
  text-decoration: none;
  font-weight: 600;
}

.login-text a:hover {
  text-decoration: underline;
}

/* Cabeçalho com logo e botão de voltar */
.topo-navegacao {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

/* Botão de voltar */
.back-btn {
  background: #3B1D8F;
  border: none;
  font-size: 22px;
  color: #fff; 
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  color: #fff;
}
