<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Senha - ReserveForClass</title>
  <link rel="stylesheet" href="../static/css/recuperar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  
  
</head>
<body>

  <body>

    <header class="topo-navegacao">
      <button class="back-btn" onclick="history.back()" aria-label="Voltar">
        <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
      </button>
    </header>
  

    <div class="container">
      <div class="box">
        <h2>Recupere sua Senha</h2>
  
        <form id="recuperarForm">
          <div class="input-group">
            <label for="email">E-mail cadastrado:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
          </div>
  
          <button type="submit">Enviar código</button>
  
          <p class="back-text">
            <a href="/login">Voltar ao login</a>
          </p>
        </form>
      </div>
    </div>